.container
  font-size: 1.25em

  .part-title
    text-transform: uppercase
    font-size: .8em
    color: $celadon-color
    padding: 20px 40px

    span
      color: black

  .content
    padding: 40px

    &.maxed-container
      max-width: 1080px
      margin-left: auto
      margin-right: auto

      .flex
        display: flex
        align-items: flex-start
        flex-wrap: nowrap

        .item
          width: 50%

          img
            max-width: 100%
            height: auto

          p:first-child
            margin-top: 0

  &#first
    background: $white-color
    margin-top: 60px
    color: $empire-color
    z-index: 1

  &#second
    background: $white-color
    color: $empire-color
