footer
  display: flex
  background: $empire-color
  color: $white-color
  font-size: calc($text-font-size * 0.8)
  padding: calc($y-padding * 1.5) $x-padding
  flex-flow: row nowrap

  aside.footer-aside
    color: $white-color
    width: calc(100% / 3)

  ul.footer-menu
    width: calc(100% / 3)
    padding: 0
    margin: 0
    li
      list-style-type: none
      a
        text-decoration: none
        color: $menthe-color
