.header-container
  bottom: 0
  height: auto
  width: 100%
  padding: 0px
  &.secondary
    height: 100%
  @media (min-height: $min-header-height)
    height: 100vh
    min-height: -webkit-fill-available

  .header
    bottom: 0%
    color: $empire-color
    width: auto
    padding: $x-padding
    @media (max-width: $sm-breakpoint)
      background-image: $pattern-image
      background-position: left bottom
      background-repeat: no-repeat
      background-size: cover

    svg#header-pattern
      position: absolute
      left: 0
      bottom: -60px
      width: 60%
      z-index: 0
      opacity: 1
      overflow: hidden
      @media (max-width: $max-container-width)
        width: 100vw
        max-width: 100%
        opacity: 0.5
      @media (max-width: $sm-breakpoint)
        display: none

    .flex
      display: flex
      justify-content: flex-start
      flex-direction: column
      height: 100%
      position: relative

      .header-aside
        display: flex
        flex-wrap: wrap
        flex-direction: column
        justify-content: space-between
        align-items: center
        position: absolute
        right: 0
        width: 0
        height: calc(100vh + 60px)
        top: -$y-padding
        border-left: 1px solid $celadon-color

      .slogan-div
        padding-right: calc($x-padding * 1.5)
        margin-bottom: $y-padding
        @media (max-width: $sm-breakpoint)
          flex-grow: 1
          display: flex
          align-items: center
          padding-right: 0

        .slogan
          flex: 1
          margin-top: calc($y-padding * 2)
          width: 100%
          padding-right: calc($x-padding * 1.5)
          @media (max-width: $sm-breakpoint)
            padding-right: 0

          .logo
            font-family: $headings-font
            font-weight: 100
            display: flex
            justify-content: flex-end
            font-size: $logo-font-size
            line-height: $logo-font-size
            margin-bottom: calc($y-padding / 2)
            @media (max-width: $sm-breakpoint)
              justify-content: flex-start

          .slogan-main
            font-family: $headings-font
            text-transform: uppercase
            font-size: .7em
            display: flex
            justify-content: flex-end
            @media (max-width: $sm-breakpoint)
              display: none
            div
              opacity: 0
              margin: 0 8px
              animation: write $write-delay linear forwards
              &:nth-child(2)
                animation-delay: calc($write-delay / 2)
                margin-left: 0
              &:nth-child(3)
                animation-delay: $write-delay
              &:last-child
                margin-left: 0
                margin-right: 0

          .slogan-main-mobile
            display: none
            font-family: $headings-font
            text-transform: uppercase
            font-size: 4vw
            @media (max-width: $sm-breakpoint)
              display: flex

          .mobile-buttons
            display: none
            font-size: .6em
            flex-direction: column
            @media (max-width: $sm-breakpoint)
              display: flex
            a
              align-self: flex-start

      .card-group-wrapper
        display: flex
        justify-content: center
        flex-wrap: nowrap

        .card-group
          position: absolute
          width: 100%
          max-width: $max-container-width
          bottom: 70px
          display: flex
          align-items: flex-end
          @media (max-width: $lg-breakpoint) and (min-height: $min-header-height)
            flex-direction: column
            align-items: flex-start
          @media (max-width: $sm-breakpoint)
            display: none

          .card-wrapper
            text-decoration: none
            width: calc(100vw / 3)
            &:hover
              .card
                height: 210px
                background-image: $pattern-image
                background-size: 120%
                background-position: 100% 77%
                cursor: pointer
            @media (max-width: $lg-breakpoint)
              width: calc(100vw / 3.5)
              &:hover
                .card
                  height: auto
            @media (max-width: $sm-breakpoint)
              width: 100%

            &:nth-child(1)
              &:hover
                .card
                  background-color: $white-color
                  background-image: $menu-pattern
                  background-size: 300%
                  .card-text
                    color: $empire-color

                  .action
                    color: $empire-color

                    .arrow
                      background-color: $empire-color
                      svg
                        fill: $white-color
            &:nth-child(2)
              .card
                background-size: 160%
                background-position: 0% 90%
                animation-delay: calc($append-header-duration - 50ms)
              &:hover
                .card
                  background-color: $imperial-color
                  .card-text
                    color: $white-color

                  .action
                    color: $white-color

                    .arrow
                      background-color: $white-color
                      svg
                        fill: $imperial-color
            &:nth-child(3)
              .card
                background-size: 130%
                background-position: 100%
                animation-delay: calc($append-header-duration * 2 - 100ms)
              &:hover
                .card
                  background-color: $aurore-color
                  background-image: $pattern-white-image
                  background-size: 200%
                  background-position: 0%
                  .card-text
                    color: $black-color

                  .action
                    color: $black-color

                    .arrow
                      background-color: $black-color
                      svg
                        fill: $white-color

            .card
              flex: 1
              display: flex
              flex-direction: column
              justify-content: space-between
              padding: 20px
              margin: 5px
              height: 180px
              border: 2px solid $empire-color
              background-color: $menthe-color
              font-size: 1.4em
              font-weight: bold
              opacity: 0
              animation: appendScale $append-header-duration linear forwards
              transition: height $append-header-duration ease-in-out
              @media (max-width: $lg-breakpoint)
                height: auto
                &:hover
                  height: auto

              .card-text
                font-family: $black-font
                font-size: calc($text-font-size * 0.9)
                text-align: center
                color: $empire-color
                @media (max-width: $lg-breakpoint)
                  font-size: calc($text-font-size * 0.75)
                  margin-bottom: 15px
                @media (max-width: $md-breakpoint)
                  font-size: calc($text-font-size * 0.65)

              .action
                font-family: $black-font
                text-transform: uppercase
                text-align: center
                font-size: .7em
                color: $empire-color

                .arrow
                  color: $empire-color
                  align-items: center
                  border-radius: 50%
                  display: inline-flex
                  width: $arrow-size
                  height: $arrow-size
                  justify-content: center
                  margin-right: 5px
                  overflow: hidden
                  position: relative
                  background-color: $empire-color

                  svg
                    position: relative
                    display: block
                    width: calc($arrow-size / 2)
