
.nav
  position: fixed
  padding: 0 0 0 $x-padding
  width: 100%
  height: $header-height
  box-sizing: border-box
  z-index: 2
  &.solid
    background: $white-color
    z-index: 1
  &.menu-active
    background: transparent
    .nav-inner
      border-bottom: 1px solid transparent
      .nav-start
        .part-title-zone
          display: none
    .scroller
      background-color: transparent

  .nav-inner
    display: flex
    padding: 11px 0px
    border-bottom: 1px solid $celadon-color

    .nav-start
      display: inline-flex
      flex-grow: 1
      .nav-logo
        &:hover
          cursor: pointer
        .site-logo
          &:hover
            cursor: pointer

      .part-title-zone
        color: $celadon-color
        font-family: $headings-font
        text-transform: uppercase
        padding-top: 4px
        margin-left: calc($x-padding / 2 + 15px)

        &.append
          animation: append 500ms ease-in-out
          &::before
            content: ""
            position: absolute
            width: 5px
            height: 5px
            margin-left: -18px
            margin-top: 8px
            background: $empire-color
            border-radius: 50%

    #menu-trigger
      justify-content: flex-end
      margin-right: $x-padding
      padding: 2px calc($x-padding / 2) 0 calc($x-padding / 2)

      img
        width: 25px

  .scroller
    height: 2px
    background-color: $empire-color
    display: flex
    justify-content: flex-start
    transform-origin: 0 0
    transform: scaleX(0)
    margin-top: -2px
