.social-list
  display: flex
  width: 100%
  padding: 0
  list-style-type: none
  align-items: flex-start
  flex-wrap: nowrap

  li
    flex-direction: row
    text-align: center
    font-size: $text-font-size

    a
      text-decoration: none
      color: $empire-color
      font-family: $bold-font

      .bi
        width: 20px
        height: 20px

        path
          fill: $celadon-color
