// Colors
$empire-color: #1d3630
$menthe-color: #ccdbc8
$celadon-color: #8ea18c
$white-color: #FFFFFF
$black-color: #000000

// Fonts
$headings-font: "JetBrainsMono-Bold"
$text-font: "Satoshi-Light", sans-serif
$bold-font: "Satoshi-Bold", sans-serif

$text-font-size: 1.25em
$logo-font-size: 2em

// Paddings
$x-padding: 40px
$y-padding: 40px
$x-content-padding: calc($x-padding / 2)

// Sizes
$header-height: 50px
$arrow-size: 30px

// Backgrounds
$empire-background: url(../src/images/pattern-empire.svg)
$menu-pattern: url(../src/images/menu-pattern2.svg)

// Misc
$line-width: 40px
