// Colors
$empire-color: #1d3630
$menthe-color: #ccdbc8
$celadon-color: #8ea18c
$imperial-color: #4d5a4c
$abricot-color: #d98d5d
$aurore-color: #e8b691
$white-color: #FFFFFF
$black-color: #000000

// Fonts
$headings-font: "JetBrainsMono-Bold"
$text-font: "Satoshi-Light", sans-serif
$bold-font: "Satoshi-Bold", sans-serif
$black-font: "Satoshi-Black", sans-serif

$text-font-size: 1.28em
$logo-font-size: 2em

// Paddings
$x-padding: 40px
$y-padding: 40px
$x-content-padding: calc($x-padding / 2)

// Sizes
$max-container-width: 1280px
$min-container-width: 768px
$header-height: 50px
$arrow-size: 30px
$lg-breakpoint: 1084px
$md-breakpoint: 926px
$sm-breakpoint: 830px
$min-header-height: 630px
$min-news-header-height: 736px

// Backgrounds
$empire-background: url(../src/images/pattern-empire.svg)
$empire-bg: url(../src/images/empire-bg.svg)
$menu-pattern: url(../src/images/menu-pattern2.svg)
$pattern-image: url(../src/images/pattern.svg)
$pattern-white-image: url(../src/images/pattern-white.svg)

// Misc
$line-width: 40px
$grid-box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px

// Utils
.ml-20
  margin-left: 20px !important
  @media (max-width: $sm-breakpoint)
    margin-left: 0 !important
.mt-40
  margin-top: 40px !important
.mb-40
  margin-bottom: 40px !important
.mb-0
  margin-bottom: 0px !important
.pb-50
  padding-bottom: 50px !important
.ml-wide
  margin-left: calc($x-padding * 1.8) !important
  @media (max-width: $max-container-width)
    margin-left: calc($x-padding / 2) !important
  @media (max-width: $sm-breakpoint)
    margin-left: 0 !important
.mr-wide
  margin-right: calc($x-padding * 1.8) !important
  @media (max-width: $max-container-width)
    margin-right: calc($x-padding / 2) !important
  @media (max-width: $sm-breakpoint)
    margin-right: 0 !important
.p-0
  padding: 0 !important
.d-flex
  display: flex
.d-sm-none
  @media (max-width: $sm-breakpoint)
    display: none !important
.column
  flex-direction: column
  width: 100%
.justify-content-center
  justify-content: center
.align-items-center
  align-items: center
.align-self-center
  align-self: center !important

span.menu-dot
  display: inline-block
  background-color: $abricot-color
  width: 10px
  height: 10px
  border-radius: 50%
  animation: 2.5s ease infinite pulse
  margin-left: 0
  margin-bottom: 0.2em
  transition: all .3s
  &:hover
    background-color: $celadon-color
    animation: 2.5s ease infinite pulseAlt
