// Colors
$empire-color: #1d3630
$menthe-color: #ccdbc8
$celadon-color: #8ea18c
$white-color: #FFFFFF
$black-color: #000000

// Fonts
$satoshi-font: "Satoshi-Light", sans-serif

$text-font-size: 1.25em

// Padding
$x-padding: 40px
$y-padding: 40px
$x-content-padding: $x-padding / 2
