@import "fonts"
@import "keyframes"
@import "svg"

// Parts
@import "header"
@import "nav"
@import "content"
@import "footer"

html,
body
  margin: 0
  padding: 0

body
  font-family: 'Satoshi-Light', sans-serif
  font-size: 1em
  background: #ccdbc8
